In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

Importando base de dados

In [ ]:
#Importando a base de dados
base_credit = pd.read_csv('credit_risk_dataset.csv')

#Visualizando a base de dados
display(base_credit)

In [ ]:
# describe mostra a quantidade
base_credit.describe()

#Filtrando para a pessoa que mais ganha
base_credit[base_credit['person_income'] >= 1440000.000000]

Visualização dos dados

In [ ]:
#Visualização dos dados - Função "Unique" vai contar os valores unicos que existem na coluna
np.unique(base_credit['loan_status'], return_counts=True) #Return_count vai mostra a quantidade de cada um dos valores

In [ ]:
#Gerando um gráfico de contagem - ; no final é para não aparecer mensagem
sns.countplot(x = base_credit['loan_status']);

In [ ]:
#Gerando um histograma de divisão em faixas
plt.hist(x = base_credit['person_age']);

In [ ]:
plt.hist(x = base_credit['person_income']);

In [ ]:
plt.hist(x = base_credit['loan_amnt']);

In [ ]:
#Gerando um gráfico dinamico com plotly - dimensions server para escolher quais parametros vamos analisar
grafico = px.scatter_matrix(base_credit, dimensions=['person_age', 'person_income', 'loan_amnt'], color='loan_status')
grafico.show()

Tratamento de valores Inconsistentes

In [ ]:
#Localizando idades inconsistentes utilizando o comando "loc" da biblioteca Pandas
base_credit.loc[base_credit['person_age'] < 0]

#Outra forma - Utilizando um filtro ao invés do Loc
base_credit[base_credit['person_age'] < 0]

In [ ]:
#Caso Isolado - precisar apagar a coluna inteira

#Drop -> Irá realizar a exclusão, para excluir uma coluna utilizamos o atributo "axis".
#Axis - 0 = linha, 1 = coluna
base_credit2 = base_credit.drop('person_age', axis= 1)
display(base_credit2)

In [ ]:
#Apagar somente os registros com valores inconsistentes
base_credit3 = base_credit.drop(base_credit[base_credit["person_age"] < 0 ].index)
display(base_credit3)
#Código acima realiza, nova base vai ser igual a velha base removendo o filtro "person_age" menor que 0, ou seja removendo os valores inconsistentes

In [ ]:
#Verificando se valores inconsistentes foram excluidos
base_credit3.loc[base_credit3["person_age"] < 0]

In [ ]:
#Outra maneira - preencher valores inconsistentes manualmente

In [ ]:
#Outra maneira - Preencher com a média 
base_credit['person_age'].mean()

#Filtrando média sem valores inconsistentes
base_credit['person_age'][base_credit['person_age'] > 0].mean()

In [36]:
#Localizando registros que tem problema com a idade faltando
base_credit.loc[base_credit["person_age"] < 0, 'person_age'] = 27.73

base_credit.loc[base_credit["person_age"] < 0]

#Visualizar primeiros registros
base_credit.head(10)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22.0,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21.0,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25.0,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23.0,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24.0,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,21.0,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2
6,26.0,77100,RENT,8.0,EDUCATION,B,35000,12.42,1,0.45,N,3
7,24.0,78956,RENT,5.0,MEDICAL,B,35000,11.11,1,0.44,N,4
8,24.0,83000,RENT,8.0,PERSONAL,A,35000,8.90,1,0.42,N,2
9,21.0,10000,OWN,6.0,VENTURE,D,1600,14.74,1,0.16,N,3

Tratamento de valores faltantes

In [ ]:
#isnull irá mostar os valores faltantes dentro da tabela
base_credit.isnull()

#Ira ser feito o somatorio dos valores faltantes
base_credit.isnull().sum()


#Irá localizar somente os valores faltantes com um filtro
base_credit.loc[pd.isnull(base_credit['person_age'])]

In [ ]:
#Função fillna do pandas para preencher valores nulos
base_credit["person_age"].fillna(base_credit['person_age'].mean(), inplace=True)

#Verificando novamente
base_credit.loc[pd.isnull(base_credit['person_age'])]

#Caso fosse verificar por id especifico
#base_credit.loc[(base_credit[''] == 1 )] | base_credit.loc[(base_credit[''] == 2 )]

#Mesma coisa que o de cima, mas utilizando a função isin do pandas
#base_credit.loc[base_credit["clientid"]].isin([1, 2])

Divisão entre previsores e classe

In [ ]:
#Selecionar bases e colunas do dataframe, selecionei somente coluna de idade, renda e divida
x_credit = base_credit.iloc[:, [0, 1, 6]].values
display(x_credit)

In [ ]:

y_credit = base_credit.iloc[:, 10].values

display(y_credit)

Escalonamento dos valores

In [ ]:
#Analisando a menor renda, e a menor idade, menor divida
x_credit[:,2].min(), x_credit[:,0].min(), x_credit[:,1].min()

In [ ]:
#Analisando a maior renda, maior idade, maior divida
x_credit[:,2].max(), x_credit[:,0].max(), x_credit[:,1].max()

In [ ]:
#Formula padronização dos dados 
from sklearn.preprocessing import StandardScaler

scaler_credit = StandardScaler()
x_credit = scaler_credit.fit_transform(x_credit)

x_credit[:,2].min(), x_credit[:,0].min(), x_credit[:,1].min()

#x_credit[:,2].max(), x_credit[:,0].max(), x_credit[:,1].max()

In [ ]:
x_credit

Dvisão das bases em treinamento e teste

In [ ]:
from sklearn.model_selection import train_test_split

Credit data

In [ ]:
x_credit_treinamento, x_credit_teste, y_credit_treinamento, y_credit_teste = train_test_split(x_credit, y_credit, test_size= 0.25, random_state=0)

In [ ]:
x_credit_treinamento.shape

In [ ]:
y_credit_treinamento.shape

In [ ]:
x_credit_teste.shape, y_credit_teste.shape

Salvar as variáveis(Base de dados)

In [34]:
import pickle

In [35]:
with open('credit.pkl', mode = 'wb') as f:
    pickle.dump([x_credit_treinamento, y_credit_treinamento, x_credit_teste, y_credit_teste], f)